/* #region Common style */

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
  padding-left: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
}

body {
  background: #fff;
  font-family: "Roboto", sans-serif;
  color: #434455;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.section-paddings {
  padding-top: 120px;
  padding-bottom: 120px;
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.title-paragraf {
  padding-top: 32px;
  padding-bottom: 32px;
}
/* #endregion Common style */

/* #region header */
.page-header {
  border-bottom: 1px solid #e7e9fc;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.page-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  padding: 24px 0;
  margin-right: 76px;
}

.accent-dark-color {
  color: #2e2f42;
}
.menu {
  display: flex;
  align-items: center;
  gap: 40px;
}
.menu-link {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.menu-link:hover,
.menu-link:focus {
  color: #404bbf;
}

.menu-link:active {
  color: #404bbf;
  text-decoration: underline;
}

.contacts {
  display: flex;
  align-items: center;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.contact-list {
  display: flex;
  gap: 40px;
}
.contact-list-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.contact-list-link:hover,
.contact-list-link:focus {
  color: #404bbf;
}
/* #endregion header */

/* #region hero */

.main-page {
  background: #2e2f42;
  padding: 188px 0;
}
/* .title-block-wr {
  padding-top: 188px;
  padding-bottom: 188px;
} */

.main-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  max-width: 496px;
  margin: 0 auto 48px;
}

.btn-order {
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background: #4d5ae5;
  border-radius: 4px;
  border: 0;
  margin: 0 auto;
  padding: 16px 32px;
  min-width: 169px;
}

.btn-order:hover,
.btn-order:focus {
  background-color: #404bbf;
}

/* #endregion hero */

/* #region Company dicription */

.dicription-list {
  display: flex;
  gap: 24px;
}

.discription-item {
  width: calc((100% - 72px) / 4);
}

.dicription-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.dicription-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  max-width: 264px;
}
/* #endregion Company dicription */

/* #region Our Team */
.our-team-section {
  background: #f4f4fd;
}

.our-team-list {
  display: flex;
  gap: 24px;
}

.our-team-item {
  background-color: #ffffff;
  width: calc((100%-72px) / 4);
  border-radius: 0px 0px 4px 4px;
}

.our-team-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 8px;
}

.our-team-profession {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}
/* #endregion Our Team */

/* #region Our Portfolio */
.title-paragraf-portfolio {
  padding: 32px 16px;
}

.border-portfolio {
  border: 1px solid #e7e9fc;
  border-top: none;
}
.our-portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
}

.our-portfolio-item {
  width: calc((100% - 48px) / 3);
  background: #ffffff;
}
.our-portfolio-name {
  text-transform: capitalize;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.our-portfolio-discription {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* #endregion Our Portfolio */

/* #region Footer */
.page-footer {
  background: #2e2f42;
  padding: 100px 0;
}

/* .w-100 {
  width: 100%;
}
.footer-content-wr {
  padding-top: 100px;
  padding-bottom: 100px;
  width: 100%;
} */

.page-logo-footer {
  display: inline-block;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-bottom: 16px;
}

.accent-color {
  color: #f4f4fd;
}

.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
}

/* #endregion Footer */
